
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: white;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}



/* CSS de la barra de busqueda */

.barra-imagen{
  margin-left: 5px;
  width:90px;
  margin-right: 1%;
  line-height: 45px;
}
.logo{
  vertical-align: middle;
  object-fit: contain;
  width: 85px;
  height: 33px;

}
  
.icono-Busqueda{
  vertical-align: middle;
  color: grey;
  border-radius: inherit;
  border-color: grey;
/*   padding-top: 1%; */
  margin-right: 1px ;
  max-width: 75%;
  flex: none;

}

.busqueda{
  width: 75%; 
  height: 30px;
  vertical-align: middle;
  border: none;
  border-radius: 5px;
  flex: auto;
/*   position: absolute;
 */}

.barra{
  display: flex;
  flex-wrap: nowrap;
  height: 45px;
  align-self: center;
  flex:none;
  margin-bottom: 15px;
  vertical-align: middle;
  background-color: white;
  box-shadow: -5px -5px 10px 10px rgba(122, 122, 122, 0.5);
  position: sticky;
  top:0;
  z-index: 100;
/*   background-color: brown; */
}

.barra-contenedor{
  flex: auto;
 margin-right: 2%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: nowrap; 
 line-height: 45px;
}

/* CSS de las tarjetas de super Heroes */


.cuerpo{
  margin-top: 20px;
  width: 90%;
  margin-top:20px;
  display: grid;
  margin: auto auto;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  margin-bottom: 10px;
}

.texto-ayuda{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  grid-column-start: 2;
  grid-column-end: 3;
}

@media screen and (max-width: 572px){
  .texto-ayuda{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
@media screen and (max-width: 869px){
  .texto-ayuda{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.container{
    padding-top: 5px;
    margin-top:10px;
    margin-bottom: 10px;
}

.tarjeta{
  width: 256px;
  height: 380px;
  position: relative;
  border-radius: 5px;
  margin: auto auto;
  border: 1px solid grey;
  overflow: hidden;
  box-shadow: 10px 7px 32px -3px rgba(0,0,0,0.75);
}

.estrellita{
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 10;
  top: 2%;
  left: 85%;
}

.imagen-heroe{
  position: absolute;
  width: 256px;
  height: 380px;
  object-fit: cover;
}

.radio{
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent 0% 60%,black);
}

.radio-2{
  position: absolute;
  z-index: 6;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 0% 50%,black);
}

.name-heroe{
  font-weight: bold;
  position: absolute;
  z-index: 7;
  color: gainsboro;
  left: 5%;
  top: 85%;
}


/* Modal Css */
/* .modal-boxcontainer{
  position: relative;
  z-index: 400;
  top: 10%;

} */
.modal{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 40;
/*   pointer-events:none;
 */}

.modal-box{
  position: fixed;
  left: 20%;
  right: 20%;
  top:30%;
  bottom: 25%;
  margin: auto;
  background: white;
  z-index: 55;
  width: 350px;
  height: 70%;
  border-radius: 10px;
  padding: 1%;
}


@media screen and (max-width: 450px){
  .modal-box{
    
    left: 0%;
    right: 0%;
    top: 20%;
    bottom: 10%;
    height: 85%;
    border-radius: 5px;
    width: 90%;
  }
}



h3{
  margin-top: 25px;
  margin-bottom: 5px;
}
.modal-title{
  color: gray;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  width: 95%;
  height: 20%;
  vertical-align: bottom;
/*   background-color: blueviolet; */
   margin: 0% auto 2%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.modal-content{
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  height: 75%;
  width: 100%;
  padding: 0 0;
}
.modal-close{
  color: rgb(59, 47, 47);
  position: absolute;
  top: 1%;
  left: 92%;

}
.modal-close:hover{ 
  color: rgb(71, 71, 71);
  cursor: pointer;
}

@media screen and (max-width: 750px) and (orientation: landscape){
  .modal-title{
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    width: 95%;
    height: 25%;
    vertical-align: bottom;
  /*   background-color: blueviolet;
   */  margin: 0% auto 2%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .modal-box{
    top: 35%;
    height: 80%;

  }
}

/* Cada comic dentro del modal */

.comic-container{
  margin: 7px 0;
  width: 90%;
  height: 150px;
  border-radius: 7px;
}

.comic-box{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 35% 63%;
  column-gap: 1%;
  grid-template-rows: 150px;
}


.comic-imagen_item{

  max-height: 150px;
  border-radius: 10px;
  object-fit: contain;
}

.comicData{
  width: 100%;
  background-color: rgb(241, 239, 239);
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 1px 5px;


}

.comicData .title-comic{
  color: rgb(134, 133, 133);
  margin-top: 5px;
  margin-bottom: 5px;

}

.description-comic{
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 1px;
  padding-left: 5px ;
  padding-right: 3px;
  padding-bottom: 5px;
  
}
